<div class="card">
  <div class="card-header">
    <%= @school.name %>
  </div>
  <div class="card-body">
    <!-- <h5 class="card-title">Special title treatment</h5> -->
    <p class="card-text"><%= @school.description %></p>
    <% if policy(@school).edit? %>
      <a href=<%= edit_school_path(@school)%> class="btn btn-success btn-sm">Edit</a>
    <% end %>
    <% if policy(@school).destroy? %>
      <td><%= button_to "Destroy", @school, method: :delete, class: 'btn btn-danger btn-sm inline', form: { data: { turbo_confirm: "Are you sure?" } } %></td>
    <% end %>
    <a href=<%= schools_path%> class="btn btn-info btn-sm"><< Back</a>
  </div>
</div>

