<% if policy(Course).new? %>
  <%= link_to "New Course", new_course_path, class: 'btn btn-secondary btn-sm float-end' %>
<% end %>
<h3>Course List</h3>
<br>
<table class="table table-striped">
  <thead>
    <tr>
      <th class='w-15' scope="col">name</th>
      <th class='w-50' scope="col">Description</th>
      <th scope="col">Years</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% if @courses.blank? %>
      <tr>
        <td colspan='4'><center>No Data available in table</center></td>
      </tr>
    <%else%>
      <% @courses.each do |course| %>
        <tr>
          <td><%= course.name%></td>
          <td class=><%= course.description%></td>
          <td class=><%= course.years%></td>
          <td>
            <%= link_to "Show", course_path(course), class: 'btn btn-success btn-sm' %>
            <%= link_to "Batches", course_batches_path(course), class: 'btn btn-warning btn-sm' %>
            <%  if current_user.enrolled_courses.include?(course) %>
              <%= link_to "Enrolled", '#', class: 'btn', style: "color: green" %>
            <%end%>
          </td>
        </tr>
      <% end %>
    <%end%>
  </tbody>
</table>
