<% if policy(Batch).new? %>
  <%= link_to "New Batch", new_course_batch_path(@course), class: 'btn btn-secondary btn-sm float-end' %>
<%end%>
<h3>Batch list of : <%= @course.name%></h3>
<br>
<table class="table table-striped">
  <thead>
    <tr>
      <th class='w-15' scope="col">name</th>
      <th class='w-50' scope="col">Description</th>
      <th scope="col">Period</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% if @batches.blank? %>
      <tr>
        <td colspan='4'><center>No Data available in table</center></td>
      </tr>
    <%else%>
      <% @batches.each do |batch| %>
        <tr>
          <td><%= batch.name%></td>
          <td class=><%= batch.description%></td>
          <td class=><%= batch.start_date.strftime("#{batch.start_date.day.ordinalize} %b %Y")%> - <%= batch.end_date.strftime("#{batch.end_date.day.ordinalize} %b %Y")%></td>
          <td>
            <%= link_to "Show", course_batch_path(@course, batch), class: 'btn btn-success btn-sm' %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
