<%= link_to "New Batch", new_course_batch_path(@course), class: 'btn btn-secondary btn-sm float-end' %>
<table class="table table-striped">
  <thead>
    <tr>
      <th class='w-15' scope="col">name</th>
      <th class='w-50' scope="col">Description</th>
      <th scope="col">Period</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @batches.each do |batch| %>
      <tr>
        <td><%= batch.name%></td>
        <td class=><%= batch.description%></td>
        <td class=><%= batch.start_date.strftime("#{batch.start_date.day.ordinalize} %b %Y")%> - <%= batch.end_date.strftime("#{batch.end_date.day.ordinalize} %b %Y")%></td>
        <td>
          <%= link_to "Show", course_batch_path(@course, batch), class: 'btn btn-success btn-sm' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
