<p style="color: green"><%= notice %></p>
<div class="container mt-5">
  <div class="card">
    <div class="card-header">
      <%= @batch.name %>
      <% if policy(Enrollment).new? %>
        <td>
          <% if @enrolled %>
            <%= button_to("Enrolled", '/#', class: 'btn btn-sm float-end') %>
          <% elsif @rejected%>
            <%= button_to("Enrollment Rejected", '/#', class: 'btn btn-sm float-end') %>
          <% elsif @pending%>
            <%= button_to("Enrollment Pending", '/#', class: 'btn btn-sm float-end') %>
          <%else%>
            <%= button_to("Enrol", batch_enrollments_path(@batch), method: :post, class: 'btn btn-success btn-sm float-end' ) %>
          <%end%>
        </td>
      <%end%>
      <% if policy(Enrollment).index? %>
        <td><%= link_to "Enrollments", batch_enrollments_path(@batch), class: 'btn btn-success btn-sm float-end' %></td>
      <%end%>
    </div>
    <div class="card-body">
        <div class="row">
          <div class="col-md-8">
              <h4>Batch name: <%= @batch.name %></h4>
              <p>Course name: <%= @course.name %></p>
              <p>Strat Date: <%= @batch.start_date.strftime('%d %b %Y') %></p>
              <p>End Date: <%= @batch.end_date.strftime('%d %b %Y') %></p>
              <p>Description: <%= @batch.description.presence || 'None' %></p>
          </div>
        </div>
        </p>
    </div>
  </div>
  <br>
  <% if policy(@batch).edit? %>
    <td><%= link_to "Edit", edit_course_batch_path(@course, @batch), class: 'btn btn-success btn-sm' %></td>
  <%end%>
  <% if policy(@batch).destroy? %>
    <td><%= button_to "Destroy", course_batch_path(@course, @batch), method: :delete, class: 'btn btn-danger btn-sm inline', form: { data: { turbo_confirm: "Are you sure?" } } %></td>
  <%end%>
  <td><%= link_to "<< Back", course_batches_path(@course), class: 'btn btn-primary btn-sm' %></td>
</div>
