<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <div class='col-md-11'>
      <a class="navbar-brand" href="#"><%= current_user.admin? ? 'School Management' : current_user.school.name.upcase%></a>
      <% if current_user != true_user %>
        <%= button_to "Back to admin", stop_impersonating_path, method: :post, class: 'btn btn-grey float-end' %>
      <% end %>
    </div>
    <div class='col-md-1'>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <%= current_user.name%>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><%= link_to('Profile', profile_path, class: 'dropdown-item') %></li>
              <li><%= button_to('Log Out', destroy_user_session_path, method: :delete, class: 'dropdown-item') %></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
